.App {
  text-align: center;
  max-width: 70%;
  margin-left: 9rem;
  padding: 10px 80px 20px 90px;
}

.light {
  background-color: aliceblue;
  color: #282c34;
}
.light h3 {
  color: rgb(31, 17, 44);
}

.dark {
  background-color: #282c34;
  color: aliceblue;
}
.dark h3 {
  color: aquamarine;
}
.dark button {
  background-color: aquamarine;
  color: #282c34;
  font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 400px) {
  .App {
    max-width: fit-content;
    margin: 0;
    padding: 0 0 0 100px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
